# 确保使用公共npm源
registry=https://registry.npmjs.org/

# 禁用package-lock.json中记录resolved字段的内部源
save-exact=false

# 确保安装时使用公共源
fetch-retries=3
fetch-retry-factor=10
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000